{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot use this service - Apply for a Companies House online filing presenter account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filter" method="post">

     <h1 class="govuk-heading-l">You cannot use this service</h1>

     <p class="govuk-body">You will need to <a href="https://www.gov.uk/government/publications/apply-for-a-companies-house-online-filing-presenter-account" class="govuk-link">complete an application form</a> to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a presenter credit account to file documents with a fee</li>
        <li>register as a lender to file electronic charge documents</li>
      </ul>

      </div>
    </div>

  {% endblock %}
