{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}



{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [

          {
            key: {
              text: "Is the business you work for registered with Companies House?"
            },
            value: {
              html: "Yes"
            },
            actions: {
              items: [
                {
                  href: "type-filings",
                  text: "Change",
                  visuallyHiddenText: "Is the business you work for registered with Companies House?"
                }
              ]
            }
          },
            {
            key: {
              text: "Company"
            },
            value: {
              html: "ACME LIMITED (0123456)"
            },
            actions: {
              items: [
                {
                  href: "company-number",
                  text: "Change",
                  visuallyHiddenText: "company number"
                }
              ]
            }
          },
            {
            key: {
              text: "Business name"
            },
            value: {
              html: "My Business Name"
            },
            actions: {
              items: [
                {
                  href: "company-name",
                  text: "Change",
                  visuallyHiddenText: "business name"
                }
              ]
            }
          },
            {
            key: {
              text: "Contact name"
            },
            value: {
              html: "Jane Lisa Doe"
            },
            actions: {
              items: [
                {
                  href: "contact-details",
                  text: "Change",
                  visuallyHiddenText: "contact name"
                }
              ]
            }
          },
          {
            key: {
              text: "Correspondence address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH<br>United Kingdom"
            },
            actions: {
              items: [
                {
                  href: "contact-details#address",
                  text: "Change",
                  visuallyHiddenText: "correspondence address"
                }
              ]
            }
          }
        ]
      }) }}

    


        {{ govukButton({
          text: "Submit",
          href: "confirmation"
        }) }}



          </div>
        </div>

      {% endblock %}
