{% extends "layouts/main.html" %}

{% block pageTitle %}
 Is the business you work for registered with Companies House? -   {{ serviceName }} - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="have-number" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="haveNumber-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Is the business you work for registered with Companies House?
      </h1>
    </legend>
    <div id="haveNumber-hint" class="govuk-hint">
      The 8-character reference issued by Companies House when the company was set up
    </div>
    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="haveNumber" name="haveNumber" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="haveNumber">
          Yes - you'll need to give the company number 
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="haveNumber-2" name="haveNumber" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="haveNumber-2">
          No - you'll need to give the business name
        </label>
      </div>
    </div>
  </fieldset>
</div>

  {{ govukDetails({
        summaryText: "I do not work for a business",
        html: '
        <p class="govuk-body">You should enter your own name if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you do not work for a business, but you need to file for more than one company</li>
            <li>you are a sole trader and do not have a different trading name</li>
                  </ul>
        
        '
      }) }}
      

        {{ govukButton({
          text: "Continue"
        }) }}




      <!--  <h1 class="govuk-heading-xl">
          You have signed out
        </h1>
        <p>Your answers have been saved.</p>
        <p>You can return to this confirmation statement by signing in to
          <a href="/your-filings">your Companies House account</a>
          and selecting Your Filings.</p>-->
      </form>
    </div>
  </div>
{% endblock %}
