{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a company number? -   {{ serviceName }} - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="have-number" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="haveNumber-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Is the business you work for registered with Companies House?
      </h1>
    </legend>
    <div id="haveNumber-hint" class="govuk-hint">
      The 8-character reference issued by Companies House when the company was set up
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="haveNumber" name="haveNumber" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="haveNumber">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="haveNumber-2" name="haveNumber" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="haveNumber-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

  {{ govukDetails({
        summaryText: "Help with company number",
        html: 'Use the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House service</a> to find it.'
      }) }}
      

        {{ govukButton({
          text: "Continue"
        }) }}




      <!--  <h1 class="govuk-heading-xl">
          You have signed out
        </h1>
        <p>Your answers have been saved.</p>
        <p>You can return to this confirmation statement by signing in to
          <a href="/your-filings">your Companies House account</a>
          and selecting Your Filings.</p>-->
      </form>
    </div>
  </div>
{% endblock %}
