{% extends "layouts/main.html" %}

{% block pageTitle %}
 Is the business you work for registered with Companies House? -   {{ serviceName }} - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
    {% include "/includes/back-link.html" %}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="have-number" method="post">





              {% set businessName %}
              {{ govukInput({
                id: "businessName",
                name: "businessName",
                type: "text",
                spellcheck: false,
                label: {
                  text: "Enter the name of the business"
                }
              }) }}
              {% endset -%}

              {{ govukRadios({
                name: "haveNumber",
                fieldset: {
                  legend: {
                    text: "Is the business you work for registered with Companies House?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No",
                    conditional: {
                      html: businessName
                    }
                  }
                ]
              }) }}

     

  {{ govukDetails({
        summaryText: "I do not work for a business",
        html: '
        <p class="govuk-body">You should enter your own name if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you do not work for a business, but you need to file for more than one company</li>
            <li>you are a sole trader and do not have a different trading name</li>
                  </ul>
        
        '
      }) }}
      

        {{ govukButton({
          text: "Continue"
        }) }}




      <!--  <h1 class="govuk-heading-xl">
          You have signed out
        </h1>
        <p>Your answers have been saved.</p>
        <p>You can return to this confirmation statement by signing in to
          <a href="/your-filings">your Companies House account</a>
          and selecting Your Filings.</p>-->
      </form>
    </div>
  </div>
{% endblock %}
