{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you want to do? - Apply for a Companies House online filing presenter account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filter" method="post">

    {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "no-fee",
              html: 'Apply for a presenter credit account to file documents <span class="govuk-!-font-weight-bold">without a fee</span>'
            },
            {
                divider: "or"
            },
            {
              value: "fee",
              html: 'Apply for a presenter credit account to file documents <span class="govuk-!-font-weight-bold">with a fee</span>'
            },
            {
              value: "charges",
              html: "Register as a lender to file electronic charge documents"
            }
          ]
        }) }}

      {{ govukButton({
          text: "Continue"
        }) }}

      </form>  

      </div>
    </div>

  {% endblock %}
