{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl">
        {% if serviceName %}
          {{ serviceName }}
        {% endif %}
      </h1>

     <!-- <p class="govuk-body-l">**Content here**</p> -->
      <p class="govuk-body">Use this service to apply for an online filing presenter account.</p>
            <p class="govuk-body">If you already have a presenter account, you can use this service to request a new presenter code. </p>

  <p class="govuk-body">You need an online filing presenter account to file (any of the following): </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>using third-party software</li>
        <li>online and pay filing fees by credit account, rather than by credit or debit card</li>
      </ul>

      <h2 class="govuk-heading-m">What you'll need</h2>
         <p class="govuk-body">You'll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sign in or create a Companies House account</li>
        <li>tell us your details</li>

      </ul>
    <p>It takes around 5 minutes to apply.</p>


      {{ govukButton({
          text: "Start now",
          href: "sign-in",
          isStartButton: true
        }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Help</h2>

      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet has advice on making your device easier to use</a> - for example, changing colours or text size.</p>


      </div>
    </div>

  {% endblock %}
