{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot use this service - Apply for a Companies House online filing presenter account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "/includes/user-bar.html" %}
  {% include "/includes/back-link.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filter" method="post">

     <h1 class="govuk-heading-l">You cannot use this service to:</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a presenter credit account to file documents with a fee</li>
        <li>register as a lender to file electronic charge documents</li>
      </ul>

<p>For these, you will need to <a href="https://apply-presenter-prototype-8bf1efc0699b.herokuapp.com/start" class="govuk-link">complete an application form</a>.</p> 

      </div>
    </div>

  {% endblock %}
